[submodule "VoiceModules/IndexTTS"]
	path = VoiceModules/IndexTTS
	url = https://github.com/ari-labz/IndexTTS2.git
[submodule "VoiceModules/StyleTTS2"]
	path = VoiceModules/StyleTTS2
	url = https://github.com/ari-labz/StyleTTS2.git
[submodule "VoiceModules/KokoroRVC"]
	path = VoiceModules/KokoroRVC
	url = https://github.com/ari-labz/KokoroRVC.git
[submodule "Submodules/SmartReader"]
	path = Submodules/SmartReader
	url = https://github.com/Strumenta/SmartReader.git
